*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color:gray;
  object-fit: contain;
}

.header{
  background-color: black;
  color:gray;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  border-radius: 5px;

}
/* Grid Container */
.row{
  display:grid;
  color:gray;
  grid-template-columns:1fr 3fr 1fr;
  padding:10px;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  
}

/* .column{
  padding:10px;
  height:300px; */

/* } */
.column-middle{
  /* grid-area:middle; */
  align-content: center;
  text-align: center;
  max-height: 600px;
  border-radius: 5px;

  
}

.l-side{
  /* grid-area: left; */
  align-content: center;
  font-size: 80px;

}
.r-side{
  /* grid-area: right; */
   border-radius: 5px;
  font-size: 80px;
}
#left-side{
  background-color:black;
  /* height:300px; */
}

#left-button{
 
}
#center-gif{
  width:100%;
  height: 100%;
  align-items: center;
}
#right-side{
  align-items: center;
  background-color:black;
  /* height:300px; */
}
#right-button{
  align-items: center;
}
.search-title{
  border-radius: 5px;
/* border-color: maroon; */
/* border-style: solid; */

}
.search-section{
  border-radius: 5px;
/* border-color: maroon;
border-style: solid; */
}

.nav-instructions{
  border-radius: 5px;
  
/* border-color: maroon;
border-style: solid; */
}
/* move arrows below gif */
@media (max-width:900px){
  .row{
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: 4fr 1fr 1fr;
  
  
   
  }

  .row div:nth-child(2){
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: contain;
    width:90%;
    height:400px;

  }
  .row div:nth-child(3){
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 25px;
  overflow: hidden;
  }
  .row div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 25px;
  overflow: hidden;

  } 
  .header{
    max-height: 100px;
    margin:20px;
    font-size: 25px;

  }
}


@media (min-width: 2000px){
  
  .row{
    display:grid;
    grid-template-columns:1fr 4fr 1fr ;
    background-color: blue;
  
  }
  .row div:nth-child(2){
object-fit: contain;
width:50%;
height:600px;
background-color: blue;

}


}
