*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header{
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  border-radius: 5px;
border-color: maroon;
border-style: solid;
}

.row{
  display:grid;
  grid-template-areas:
  'left middle right';
  padding:10px;
  height:800px;
  justify-content:space-between;
  border-radius: 5px;
  border-color: maroon;
  border-style: solid;
  
}

/* .column{
  padding:10px;
  height:300px; */

/* } */
.column-middle{
  grid-area:middle;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  border-color: maroon;
  border-style: solid;
}

.l-side{
  grid-area: left;
  max-width: 50px;
  align-content: center;
  border-radius: 5px;
  border-color: maroon;
  border-style: solid;

}
.r-side{
  grid-area: right;
  max-width: 50px;  border-radius: 5px;
  border-color: maroon;
  border-style: solid;
}
#left-side{
  background-color: aqua;
  height:300px;
}

#left-button{
 
}
#center-gif{
  align-items: center;
}
#right-side{
  
  background-color: blue;
  height:300px;
}
#right-button{
  
}
.search-title{
  border-radius: 5px;
border-color: maroon;
border-style: solid;

}
.search-section{
  border-radius: 5px;
border-color: maroon;
border-style: solid;
}

.nav-instructions{
  border-radius: 5px;
border-color: maroon;
border-style: solid;
}
/* move arrows below gif */
@media (max-width:900px){
  .row{
grid-template-areas: 
'middle middle'
'left right';
  }
}

